.profile {
  width: 100%;
  max-width: 410px;
  margin: 0 auto;
  padding-top: 75px;
  color: #FFF;
  font-weight: 500;
}

.profile__title {
  margin: 0;
  padding: 0;
  text-align: center;
  font-weight: inherit;
  font-size: 24px;
  line-height: 29px;
}

.profile__form {
  margin: 123px 0 0;
  padding: 0;
}

.profile__fieldset {
  margin: 0;
  padding: 0;
  border: none;
  background-color: inherit;
  display: flex;
  justify-content: space-between;
}

.profile__fieldset:first-of-type {
  margin-bottom: 17px;
  padding-bottom: 16px;
  border-bottom: 1px solid #424242;
}

.profile__label {
  font-size: 11px;
  line-height: 13px;;
}

.profile__input {
  margin: 0;
  padding: 0;
  background-color: inherit;
  border: none;
  text-align: right;
  color: inherit;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
}

.profile__submit {
  width: 100%;
  margin: 220px 0 0;
  padding: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: inherit;
  background-color: inherit;
  text-align: center;
  border: none;
}

.profile__signout {
  width: 100%;
  margin: 16px 0 0;
  padding: 0;
  font-weight: inherit;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #EE3465;
  background-color: inherit;
  border: none;
}

@media (max-width: 768px) {
  .profile {
    padding-top: 236px;
  }

  .profile__form {
    margin-top: 96px;
  }

  .profile__submit {
    margin-top: 210px;
  }

  .profile__fieldset:first-of-type {
    margin-bottom: 19px;
  }
}

@media (max-width: 470px) {
  .profile {
    width: calc(100% - 60px);
    padding-top: 70px;
  }

  .profile__form {
    margin-top: 80px;
  }

  .profile__submit {
    margin-top: 379px;
    font-size: 12px;
    line-height: 15px;
  }

  .profile__signout {
    margin-bottom: 40px;
    font-size: 12px;
    line-height: 15px;
  }
}
